<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Home page</h1>

        <p>Login or Register:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
    </div>

</div>